body, html {
	height: 100%;
	font-family: Georgia;
	background-color: #9AD1E6;
}

h1.logo {
	text-align: center;
	font-size: 72px;
	margin: 15px 0 0px 0;
	color: #102142;
	font-weight: bold;
}

h3.tagline {
	text-align: center;
	font-size: 16px;
	margin: 5px 0 35px 0;
	color: #102142;
}